.Nav_cont{
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    background-color: red;
    color: white;
    height: 55px;
}
.Nav_cont>p{
    font-size: 20px;
    
}
.routetag{
    color: white;
    border-bottom: red;
}